<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>Level1</string>
			<key>PlayMp3FromList</key>
			<integer>0</integer>
			<key>PassLevelWithEnemiesKilled</key>
			<integer>20</integer>
			<key>GoalMultipliedByLevelsPassed</key>
			<true/>
			<key>CameraFollowsPlayerX</key>
			<true/>
			<key>CameraFollowsPlayerY</key>
			<false/>
			<key>CameraBetweenPlayersX</key>
			<true/>
			<key>CameraBetweenPlayersY</key>
			<false/>
			<key>CameraOffsetY</key>
			<integer>0</integer>
			<key>CameraOffsetX</key>
			<integer>0</integer>
			<key>ResetPlatformTime</key>
			<integer>0</integer>
			<key>RespawnFollowsPlayerX</key>
			<false/>
			<key>RefreshLevelOnDeath</key>
			<true/>
			<key>BoundaryFlip</key>
			<false/>
			<key>UnlimitedBullets</key>
			<false/>
			<key>KeepExistingBulletCount</key>
			<true/>
			<key>BulletsToStart</key>
			<integer>25</integer>
			<key>MaxBulletsToStart</key>
			<integer>100</integer>
			<key>HalfGoalsToPassForOnePlayer</key>
			<true/>
			<key>PlayerOnPlayerBounceThreshold</key>
			<integer>50</integer>
			<key>PlayerOnPlayerImpact</key>
			<integer>150</integer>
			<key>StealHearts</key>
			<false/>
			<key>ResetScore</key>
			<false/>
			<key>LevelResetsHearts</key>
			<true/>
			<key>SoundLevelBegin</key>
			<string></string>
			<key>SoundLevelFail</key>
			<string></string>
			<key>SoundLevelSucceed</key>
			<string></string>
			<key>SoundPlayer1Win</key>
			<string></string>
			<key>SoundPlayer2Win</key>
			<string></string>
			<key>Player1Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>15</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<true/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Player2Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>20</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<true/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Enemies</key>
			<dict>
				<key>RobotLeft</key>
				<dict>
					<key>Name</key>
					<string>Robot</string>
					<key>SpawnNode</key>
					<string>LeftSpawn</string>
					<key>SpawnOffset</key>
					<string>{0, 0}</string>
					<key>InitialDelay</key>
					<integer>1</integer>
					<key>SpawnFrequency</key>
					<integer>5</integer>
					<key>TotalToSpawn</key>
					<integer>0</integer>
					<key>Score</key>
					<integer>500</integer>
					<key>BodyType</key>
					<string>Circle</string>
					<key>BodyOffset</key>
					<string>{ 0, -40 }</string>
					<key>RadiusDivider</key>
					<integer>3</integer>
					<key>XScale</key>
					<integer>1</integer>
					<key>ReviveCount</key>
					<integer>1</integer>
					<key>ReviveTime</key>
					<integer>5</integer>
					<key>BlinkToDeath</key>
					<true/>
					<key>JumpOnToKill</key>
					<true/>
					<key>JumpOnBounceBack</key>
					<integer>100</integer>
					<key>JumpThreshold</key>
					<integer>50</integer>
					<key>Speed</key>
					<integer>3</integer>
					<key>SpeedAfterRevive</key>
					<integer>6</integer>
					<key>BaseFrame</key>
					<string>RobotWalk1</string>
					<key>Depth</key>
					<integer>1</integer>
					<key>Atlas</key>
					<string>Robot</string>
					<key>WalkFrames</key>
					<array>
						<string>RobotWalk1</string>
						<string>RobotWalk2</string>
						<string>RobotWalk3</string>
						<string>RobotWalk4</string>
						<string>RobotWalk5</string>
						<string>RobotWalk6</string>
						<string>RobotWalk7</string>
						<string>RobotWalk8</string>
						<string>RobotWalk9</string>
						<string>RobotWalk10</string>
						<string>RobotWalk11</string>
						<string>RobotWalk12</string>
						<string>RobotWalk13</string>
						<string>RobotWalk14</string>
						<string>RobotWalk15</string>
					</array>
					<key>AngryWalkFrames</key>
					<array>
						<string>RobotWalk1</string>
						<string>RobotWalk2</string>
						<string>RobotWalk3</string>
						<string>RobotWalk4</string>
						<string>RobotWalk5</string>
						<string>RobotWalk6</string>
						<string>RobotWalk7</string>
						<string>RobotWalk8</string>
						<string>RobotWalk9</string>
						<string>RobotWalk10</string>
						<string>RobotWalk11</string>
						<string>RobotWalk12</string>
						<string>RobotWalk13</string>
						<string>RobotWalk14</string>
						<string>RobotWalk15</string>
					</array>
					<key>AttackFrames</key>
					<array>
						<string>RobotAttack1</string>
						<string>RobotAttack2</string>
						<string>RobotAttack3</string>
						<string>RobotAttack4</string>
						<string>RobotAttack5</string>
						<string>RobotAttack6</string>
					</array>
					<key>AngryAttackFrames</key>
					<array>
						<string>RobotAttack1</string>
						<string>RobotAttack2</string>
						<string>RobotAttack3</string>
						<string>RobotAttack4</string>
						<string>RobotAttack5</string>
						<string>RobotAttack6</string>
					</array>
					<key>ShootFrames</key>
					<array>
						<string>RobotAttack1</string>
						<string>RobotAttack2</string>
						<string>RobotAttack3</string>
						<string>RobotAttack4</string>
						<string>RobotAttack5</string>
						<string>RobotAttack6</string>
					</array>
					<key>HurtFrames</key>
					<array>
						<string>RobotHurt1</string>
						<string>RobotHurt2</string>
						<string>RobotHurt3</string>
						<string>RobotHurt4</string>
						<string>RobotHurt5</string>
					</array>
					<key>DeadFrames</key>
					<array>
						<string>RobotHurt1</string>
						<string>RobotHurt2</string>
						<string>RobotHurt3</string>
						<string>RobotHurt4</string>
						<string>RobotHurt5</string>
					</array>
					<key>WalkFPS</key>
					<integer>20</integer>
					<key>AttackFPS</key>
					<integer>20</integer>
					<key>HurtFPS</key>
					<integer>10</integer>
					<key>DeadFPS</key>
					<integer>10</integer>
					<key>AngryWalkFPS</key>
					<integer>35</integer>
					<key>SoundEnemyEnter</key>
					<string></string>
					<key>SoundEnemyHurt</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyDie</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyAttack</key>
					<string></string>
					<key>RemoveOutsideBoundary</key>
					<false/>
				</dict>
				<key>RobotRight</key>
				<dict>
					<key>Name</key>
					<string>Robot</string>
					<key>SpawnNode</key>
					<string>RightSpawn</string>
					<key>InitialDelay</key>
					<integer>1</integer>
					<key>Score</key>
					<integer>500</integer>
					<key>SpawnFrequency</key>
					<integer>5</integer>
					<key>TotalToSpawn</key>
					<integer>2</integer>
					<key>BodyType</key>
					<string>Circle</string>
					<key>BodyOffset</key>
					<string>{ 0, -40 }</string>
					<key>RadiusDivider</key>
					<integer>3</integer>
					<key>XScale</key>
					<integer>-1</integer>
					<key>ReviveTime</key>
					<integer>5</integer>
					<key>ReviveCount</key>
					<integer>1</integer>
					<key>BlinkToDeath</key>
					<true/>
					<key>JumpOnToKill</key>
					<true/>
					<key>JumpOnBounceBack</key>
					<integer>100</integer>
					<key>JumpThreshold</key>
					<integer>50</integer>
					<key>Speed</key>
					<integer>4</integer>
					<key>SpeedAfterRevive</key>
					<integer>6</integer>
					<key>Atlas</key>
					<string>Robot</string>
					<key>BaseFrame</key>
					<string>RobotWalk1</string>
					<key>Depth</key>
					<integer>1</integer>
					<key>SoundEnemyEnter</key>
					<string></string>
					<key>SoundEnemyHurt</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyDie</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyAttack</key>
					<string></string>
					<key>WalkFrames</key>
					<array>
						<string>RobotWalk1</string>
						<string>RobotWalk2</string>
						<string>RobotWalk3</string>
						<string>RobotWalk4</string>
						<string>RobotWalk5</string>
						<string>RobotWalk6</string>
						<string>RobotWalk7</string>
						<string>RobotWalk8</string>
						<string>RobotWalk9</string>
						<string>RobotWalk10</string>
						<string>RobotWalk11</string>
						<string>RobotWalk12</string>
						<string>RobotWalk13</string>
						<string>RobotWalk14</string>
						<string>RobotWalk15</string>
					</array>
					<key>AttackFrames</key>
					<array>
						<string>RobotAttack1</string>
						<string>RobotAttack2</string>
						<string>RobotAttack3</string>
						<string>RobotAttack4</string>
						<string>RobotAttack5</string>
						<string>RobotAttack6</string>
					</array>
					<key>AngryWalkFrames</key>
					<array>
						<string>RobotWalk1</string>
						<string>RobotWalk2</string>
						<string>RobotWalk3</string>
						<string>RobotWalk4</string>
						<string>RobotWalk5</string>
						<string>RobotWalk6</string>
						<string>RobotWalk7</string>
						<string>RobotWalk8</string>
						<string>RobotWalk9</string>
						<string>RobotWalk10</string>
						<string>RobotWalk11</string>
						<string>RobotWalk12</string>
						<string>RobotWalk13</string>
						<string>RobotWalk14</string>
						<string>RobotWalk15</string>
					</array>
					<key>HurtFrames</key>
					<array>
						<string>RobotHurt1</string>
						<string>RobotHurt2</string>
						<string>RobotHurt3</string>
						<string>RobotHurt4</string>
						<string>RobotHurt5</string>
					</array>
					<key>DeadFrames</key>
					<array>
						<string>RobotHurt1</string>
						<string>RobotHurt2</string>
						<string>RobotHurt3</string>
						<string>RobotHurt4</string>
						<string>RobotHurt5</string>
					</array>
					<key>HurtFPS</key>
					<integer>10</integer>
					<key>DeadFPS</key>
					<integer>10</integer>
					<key>WalkFPS</key>
					<integer>20</integer>
					<key>AngryWalkFPS</key>
					<integer>35</integer>
					<key>RemoveOutsideBoundary</key>
					<false/>
				</dict>
				<key>Bullet</key>
				<dict>
					<key>Name</key>
					<string>Bullet</string>
					<key>SpawnNode</key>
					<string>Robot</string>
					<key>SpawnOffset</key>
					<string>{0, -10}</string>
					<key>InitialDelay</key>
					<integer>1</integer>
					<key>Score</key>
					<integer>500</integer>
					<key>SpawnFrequency</key>
					<integer>5</integer>
					<key>TotalToSpawn</key>
					<integer>0</integer>
					<key>BodyType</key>
					<string>Circle</string>
					<key>BodyOffset</key>
					<string>{ 0, 0}</string>
					<key>RadiusDivider</key>
					<integer>2</integer>
					<key>XScale</key>
					<integer>1</integer>
					<key>ReviveTime</key>
					<integer>5</integer>
					<key>ReviveCount</key>
					<integer>0</integer>
					<key>BlinkToDeath</key>
					<false/>
					<key>JumpOnToKill</key>
					<false/>
					<key>JumpOnBounceBack</key>
					<integer>100</integer>
					<key>JumpThreshold</key>
					<integer>50</integer>
					<key>Speed</key>
					<integer>10</integer>
					<key>SpeedAfterRevive</key>
					<integer>15</integer>
					<key>BaseFrame</key>
					<string>LaserBall</string>
					<key>Depth</key>
					<integer>1</integer>
					<key>SoundEnemyEnter</key>
					<string></string>
					<key>SoundEnemyHurt</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyDie</key>
					<string>EnemyHurt.caf</string>
					<key>SoundEnemyAttack</key>
					<string></string>
					<key>AngryWalkFPS</key>
					<integer>35</integer>
					<key>RemoveOutsideBoundary</key>
					<true/>
					<key>TreatLikeBullet</key>
					<true/>
					<key>AffectedByGravity</key>
					<false/>
				</dict>
			</dict>
			<key>Portals</key>
			<dict>
				<key>PortalToCoins</key>
				<dict>
					<key>RequiresEnemiesKilledOver</key>
					<integer>1</integer>
					<key>RequiresScoreOver</key>
					<integer>-1</integer>
					<key>AddsToLevelsPassed</key>
					<false/>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>NodeToMovePlayerTo</key>
					<string>PortalJump</string>
					<key>NodeToMoveCameraTo</key>
					<string>CameraJump</string>
					<key>OneTimeUse</key>
					<true/>
					<key>MovesBothPlayers</key>
					<true/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
				<key>PortalBackToMainPlatform</key>
				<dict>
					<key>NodeToMovePlayerTo</key>
					<string>PortalJump2</string>
					<key>NodeToMoveCameraTo</key>
					<string>CameraJump2</string>
					<key>OneTimeUse</key>
					<true/>
					<key>MovesBothPlayers</key>
					<true/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
				<key>PortalToSecretLevel</key>
				<dict>
					<key>Levels</key>
					<string>SecretLevels</string>
					<key>LevelToLoad</key>
					<integer>1</integer>
					<key>RequiresScoreOver</key>
					<integer>20000</integer>
					<key>AddsToLevelsPassed</key>
					<false/>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>VersusLevels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>VersusLevel1</string>
			<key>CameraBetweenPlayers</key>
			<false/>
			<key>RefreshLevelOnDeath</key>
			<true/>
			<key>DisableContinue</key>
			<true/>
			<key>BoundaryFlip</key>
			<true/>
			<key>UnlimitedBullets</key>
			<false/>
			<key>BulletsToStart</key>
			<integer>50</integer>
			<key>PlayerOnPlayerBounceThreshold</key>
			<integer>50</integer>
			<key>PlayerOnPlayerImpact</key>
			<integer>150</integer>
			<key>StealHearts</key>
			<true/>
			<key>StealHeartsSound</key>
			<string>Coin.caf</string>
			<key>ResetScore</key>
			<false/>
			<key>LevelResetsHearts</key>
			<true/>
			<key>SoundLevelBegin</key>
			<string></string>
			<key>SoundLevelFail</key>
			<string></string>
			<key>SoundLevelSucceed</key>
			<string></string>
			<key>SoundPlayer1Win</key>
			<string></string>
			<key>SoundPlayer2Win</key>
			<string></string>
			<key>Player1Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>25</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<false/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
			<key>Player2Ammo</key>
			<dict>
				<key>AwardsHowMuch</key>
				<integer>25</integer>
				<key>SpawnsHowOften</key>
				<integer>30</integer>
				<key>SpawnsAtRandomTime</key>
				<true/>
				<key>MinimumTimeBetweenSpawns</key>
				<integer>15</integer>
				<key>AwardsToBothPlayers</key>
				<false/>
				<key>OnlyAllowOneAtATime</key>
				<false/>
				<key>SoundAmmoCollect</key>
				<string>Coin.caf</string>
				<key>SoundAmmoDrop</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>SecretLevels</key>
	<array>
		<dict>
			<key>SKSFile</key>
			<string>SecretLevel1</string>
			<key>PlayMp3FromList</key>
			<integer>0</integer>
			<key>Portals</key>
			<dict>
				<key>BackToLevel1</key>
				<dict>
					<key>Levels</key>
					<string>Levels</string>
					<key>LevelToLoad</key>
					<integer>1</integer>
					<key>ShowLevelPassedImage</key>
					<false/>
					<key>TextureAfterUse</key>
					<string>DoorOpen</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Players</key>
	<dict>
		<key>Player1</key>
		<dict>
			<key>Speed</key>
			<integer>5</integer>
			<key>SpeedBoost</key>
			<integer>4</integer>
			<key>ClimbSpeed</key>
			<integer>10</integer>
			<key>Atlas</key>
			<string>Player1</string>
			<key>IdleFrames</key>
			<array>
				<string>Player1_Idle1</string>
				<string>Player1_Idle2</string>
				<string>Player1_Idle3</string>
				<string>Player1_Idle4</string>
				<string>Player1_Idle5</string>
				<string>Player1_Idle6</string>
				<string>Player1_Idle7</string>
				<string>Player1_Idle8</string>
				<string>Player1_Idle9</string>
				<string>Player1_Idle10</string>
				<string>Player1_Idle11</string>
			</array>
			<key>DeadFrames</key>
			<array>
				<string>Player1_Dead1</string>
				<string>Player1_Dead2</string>
				<string>Player1_Dead3</string>
				<string>Player1_Dead4</string>
				<string>Player1_Dead3</string>
				<string>Player1_Dead2</string>
				<string>Player1_Dead1</string>
			</array>
			<key>ShootFrames</key>
			<array>
				<string>Player1_Shoot1</string>
				<string>Player1_Shoot2</string>
				<string>Player1_Shoot3</string>
				<string>Player1_Shoot4</string>
				<string>Player1_Shoot5</string>
				<string>Player1_Shoot6</string>
			</array>
			<key>JumpFrames</key>
			<array>
				<string>Player1_Jump1</string>
				<string>Player1_Jump2</string>
				<string>Player1_Jump3</string>
				<string>Player1_Jump4</string>
			</array>
			<key>ClimbFrames</key>
			<array>
				<string>Player1_Jump1</string>
			</array>
			<key>WalkFrames</key>
			<array>
				<string>Player1_Walk1</string>
				<string>Player1_Walk2</string>
				<string>Player1_Walk3</string>
				<string>Player1_Walk4</string>
				<string>Player1_Walk5</string>
				<string>Player1_Walk6</string>
				<string>Player1_Walk7</string>
				<string>Player1_Walk8</string>
				<string>Player1_Walk9</string>
				<string>Player1_Walk10</string>
				<string>Player1_Walk11</string>
				<string>Player1_Walk12</string>
				<string>Player1_Walk13</string>
				<string>Player1_Walk14</string>
				<string>Player1_Walk15</string>
				<string>Player1_Walk16</string>
			</array>
			<key>RunFrames</key>
			<array>
				<string>Player1_Walk1</string>
				<string>Player1_Walk3</string>
				<string>Player1_Walk4</string>
				<string>Player1_Walk5</string>
				<string>Player1_Walk7</string>
				<string>Player1_Walk8</string>
				<string>Player1_Walk9</string>
				<string>Player1_Walk11</string>
				<string>Player1_Walk12</string>
				<string>Player1_Walk13</string>
				<string>Player1_Walk15</string>
				<string>Player1_Walk16</string>
			</array>
			<key>WalkFPS</key>
			<integer>20</integer>
			<key>RunFPS</key>
			<integer>40</integer>
			<key>JumpFPS</key>
			<integer>3</integer>
			<key>DeadFPS</key>
			<integer>10</integer>
			<key>ShootFPS</key>
			<integer>30</integer>
			<key>IdleFPS</key>
			<integer>20</integer>
			<key>ClimbFPS</key>
			<integer>10</integer>
			<key>ReviveTime</key>
			<integer>1</integer>
			<key>JumpAmount</key>
			<integer>900</integer>
			<key>DoubleJumpAmount</key>
			<integer>500</integer>
			<key>BodyType</key>
			<string>Rectangle</string>
			<key>BodyOffset</key>
			<string>{0,-5}</string>
			<key>BodySize</key>
			<string>{50,150}</string>
			<key>WeaponSpeed</key>
			<integer>30</integer>
			<key>WeaponRotationSpeed</key>
			<integer>0</integer>
			<key>WeaponImage</key>
			<string>BlueBullet</string>
			<key>WeaponOffset</key>
			<string>{100,  -35}</string>
			<key>WeaponDelay</key>
			<real>0.2</real>
			<key>TimeBetweenFiring</key>
			<real>0.2</real>
			<key>SoundJump</key>
			<string>oink.caf</string>
			<key>SoundLand</key>
			<string></string>
			<key>SoundLoseHeart</key>
			<string></string>
			<key>SoundDead</key>
			<string></string>
			<key>SoundBounce</key>
			<string></string>
			<key>SoundShoot</key>
			<string>oink.caf</string>
			<key>SoundBulletImpact</key>
			<string></string>
			<key>SoundNoAmmo</key>
			<string></string>
		</dict>
		<key>Player2</key>
		<dict>
			<key>Speed</key>
			<integer>6</integer>
			<key>SpeedBoost</key>
			<integer>4</integer>
			<key>ClimbSpeed</key>
			<integer>12</integer>
			<key>Atlas</key>
			<string>Player2</string>
			<key>IdleFrames</key>
			<array>
				<string>Player2_Idle1</string>
				<string>Player2_Idle2</string>
				<string>Player2_Idle3</string>
				<string>Player2_Idle4</string>
				<string>Player2_Idle5</string>
				<string>Player2_Idle6</string>
				<string>Player2_Idle7</string>
				<string>Player2_Idle8</string>
				<string>Player2_Idle9</string>
				<string>Player2_Idle10</string>
				<string>Player2_Idle11</string>
			</array>
			<key>DeadFrames</key>
			<array>
				<string>Player2_Dead1</string>
				<string>Player2_Dead2</string>
				<string>Player2_Dead3</string>
				<string>Player2_Dead4</string>
				<string>Player2_Dead3</string>
				<string>Player2_Dead2</string>
				<string>Player2_Dead1</string>
			</array>
			<key>ClimbFrames</key>
			<array>
				<string>Player2_Jump1</string>
			</array>
			<key>ShootFrames</key>
			<array>
				<string>Player2_Shoot1</string>
				<string>Player2_Shoot2</string>
				<string>Player2_Shoot3</string>
				<string>Player2_Shoot4</string>
				<string>Player2_Shoot5</string>
				<string>Player2_Shoot6</string>
			</array>
			<key>JumpFrames</key>
			<array>
				<string>Player2_Jump1</string>
				<string>Player2_Jump2</string>
				<string>Player2_Jump3</string>
				<string>Player2_Jump4</string>
			</array>
			<key>WalkFrames</key>
			<array>
				<string>Player2_Walk1</string>
				<string>Player2_Walk2</string>
				<string>Player2_Walk3</string>
				<string>Player2_Walk4</string>
				<string>Player2_Walk5</string>
				<string>Player2_Walk6</string>
				<string>Player2_Walk7</string>
				<string>Player2_Walk8</string>
				<string>Player2_Walk9</string>
				<string>Player2_Walk10</string>
				<string>Player2_Walk11</string>
				<string>Player2_Walk12</string>
				<string>Player2_Walk13</string>
				<string>Player2_Walk14</string>
				<string>Player2_Walk15</string>
				<string>Player2_Walk16</string>
			</array>
			<key>RunFrames</key>
			<array>
				<string>Player2_Walk1</string>
				<string>Player2_Walk2</string>
				<string>Player2_Walk3</string>
				<string>Player2_Walk4</string>
				<string>Player2_Walk5</string>
				<string>Player2_Walk6</string>
				<string>Player2_Walk7</string>
				<string>Player2_Walk8</string>
				<string>Player2_Walk9</string>
				<string>Player2_Walk10</string>
				<string>Player2_Walk11</string>
				<string>Player2_Walk12</string>
				<string>Player2_Walk13</string>
				<string>Player2_Walk14</string>
				<string>Player2_Walk15</string>
				<string>Player2_Walk16</string>
			</array>
			<key>WalkFPS</key>
			<integer>20</integer>
			<key>RunFPS</key>
			<integer>40</integer>
			<key>ReviveTime</key>
			<integer>1</integer>
			<key>ShootDelay</key>
			<integer>0</integer>
			<key>TimeBetweenFiring</key>
			<real>0.2</real>
			<key>JumpAmount</key>
			<integer>900</integer>
			<key>DoubleJumpAmount</key>
			<integer>500</integer>
			<key>BodyOffset</key>
			<string>{0,-5}</string>
			<key>BodySize</key>
			<string>{50,120}</string>
			<key>BodyType</key>
			<string>Rectangle</string>
			<key>RadiusDivider - OFF</key>
			<integer>3</integer>
			<key>WeaponSpeed</key>
			<integer>20</integer>
			<key>WeaponRotationSpeed - OFF</key>
			<real>0.5</real>
			<key>WeaponImage</key>
			<string>RedBullet</string>
			<key>WeaponOffset</key>
			<string>{100, -15}</string>
			<key>WeaponDelay</key>
			<real>0.1</real>
			<key>SoundJump</key>
			<string>PlayerJump.caf</string>
			<key>SoundLand</key>
			<string></string>
			<key>SoundLoseHeart</key>
			<string></string>
			<key>SoundDead</key>
			<string></string>
			<key>SoundBounce</key>
			<string></string>
			<key>SoundShoot</key>
			<string>PlayerFire.caf</string>
			<key>SoundBulletImpact</key>
			<string></string>
			<key>SoundNoAmmo</key>
			<string></string>
		</dict>
	</dict>
	<key>Home</key>
	<dict>
		<key>Buttons</key>
		<dict>
			<key>OnePlayerSoloButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>Player1PlaysAsPlayer2</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>DisableIfNotReached</key>
				<true/>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>OnePlayerSoloButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>OnePlayerCoopButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>Player1PlaysAsPlayer2</key>
				<true/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<true/>
				<key>SelectedImage</key>
				<string>OnePlayerCoopButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>OnePlayerVersusButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<true/>
				<key>Levels</key>
				<string>VersusLevels</string>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<true/>
				<key>SecondPlayerIsCPU</key>
				<true/>
				<key>SelectedImage</key>
				<string>OnePlayerVersusButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>TwoPlayerCoopButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<false/>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<false/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>TwoPlayerCoopButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>TwoPlayerVersusButton</key>
			<dict>
				<key>PlayerVersusPlayer</key>
				<true/>
				<key>Levels</key>
				<string>VersusLevels</string>
				<key>LevelToLoad</key>
				<integer>1</integer>
				<key>ContinueLastLevel</key>
				<false/>
				<key>SinglePlayerGame</key>
				<false/>
				<key>SecondPlayerIsCPU</key>
				<false/>
				<key>SelectedImage</key>
				<string>TwoPlayerVersusButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>ContinueButton</key>
			<dict>
				<key>ContinueLastGame</key>
				<true/>
				<key>SelectedImage</key>
				<string>ContinueGameButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>GameCenterButton</key>
			<dict>
				<key>ShowGameCenter</key>
				<true/>
				<key>SelectedImage</key>
				<string>GameCenterButtonSelected</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
			<key>AnotherSceneButton</key>
			<dict>
				<key>SelectedImage</key>
				<string>AnotherMenuButtonSelected</string>
				<key>LoadScene</key>
				<string>AnotherMenu</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
		</dict>
		<key>SelectionOrder</key>
		<array>
			<string>OnePlayerSoloButton</string>
			<string>ContinueButton</string>
			<string>OnePlayerCoopButton</string>
			<string>TwoPlayerCoopButton</string>
			<string>OnePlayerVersusButton</string>
			<string>TwoPlayerVersusButton</string>
			<string>GameCenterButton</string>
			<string>AnotherSceneButton</string>
		</array>
		<key>Columns</key>
		<integer>2</integer>
		<key>MP3Loop</key>
		<string></string>
		<key>IntroSound</key>
		<string></string>
	</dict>
	<key>AnotherMenu</key>
	<dict>
		<key>Buttons</key>
		<dict>
			<key>BackButton</key>
			<dict>
				<key>SelectedImage</key>
				<string>BackButtonSelected</string>
				<key>LoadScene</key>
				<string>Home</string>
				<key>SoundButtonSelect</key>
				<string>Select.caf</string>
				<key>SoundButtonPress</key>
				<string></string>
			</dict>
		</dict>
		<key>SelectionOrder</key>
		<array>
			<string>BackButton</string>
		</array>
		<key>Columns</key>
		<integer>1</integer>
		<key>MP3Loop</key>
		<string></string>
		<key>IntroSound</key>
		<string></string>
	</dict>
	<key>MP3List</key>
	<array>
		<string>victory_music.mp3</string>
		<string>level_one.mp3</string>
	</array>
	<key>EnableGameCenter</key>
	<true/>
	<key>LeaderBoardID</key>
	<string>HighScore</string>
</dict>
</plist>
